#platform=x86, AMD64, 或 Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --plaintext --allow-ssh 1234567890
# System language
lang en_US
# System authorization information
auth  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx


# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=eth
# Reboot after installation
reboot
# System timezone
timezone Asia/Shanghai --isUtc
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --linux --initlabel
# Disk partitioning information
# part /boot --fstype="xfs" --size=1024
# part swap --fstype="swap" --size=2048
# part / --fstype="xfs" --grow --size=1
# 创建 efi 分区，使用第一块硬盘的第一个分区
part /boot/efi --fstype="efi" --ondisk=nvme0n1 --size=200

# 创建 boot 分区，使用第一块硬盘的第二个分区
part /boot --fstype="xfs" --ondisk=nvme0n1 --size=1000

# 创建 LVM PV 分区，使用剩下的第一块硬盘和其它三块硬盘
part pv.01 --ondisk=nvme0n1 --grow --size=1
part pv.02 --ondisk=nvme0n2 --grow --size=1
part pv.03 --ondisk=nvme0n3 --grow --size=1
part pv.04 --ondisk=nvme0n4 --grow --size=1

# 创建 VG，并将所有 PV 添加到该 VG 中
volgroup centos pv.01 pv.02 pv.03 pv.04

# 创建 LVM LV 分区
logvol / --fstype="xfs" --name=root --vgname=centos --grow 
logvol swap --fstype="swap" --name=swap --vgname=centos --size=2000


%post --interpreter=/usr/bin/bash
/home/test.sh
%end
